<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project offering</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body{
       background-color: #FD5D5D;
      }
  
      h1 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 42px;
        margin: 0px;
        color: #fff;
        text-align: center;
        position: relative;
        margin-bottom: 30px;
      }
      .container-wrapper {
      padding: 5em;
      margin: 2em;
      background-color: #FF8080;
  }
    </style>

<script>
 var express = require('express');
 var router = express.Router();
 var db=require('../database');
 
//  document.getElementById("btn").addEventListener("click", function(e) {
// 	getdata()
// });
 function myFunction(abc){
  var sid = "0718";
  var prof_id = "1";
  var proj_id="1";
  var sql="insert into proj_stud_reln VALUES ('" + sid + "','" + prof_id + "','" + proj_id + "');";
  console.log(router);
    console.log("Hello")
    // console.log(sql)
    // console.log(password);
    db.query(sql, function (err, data, fields) {
    if (err) throw err;
    console.log(req.body)
    console.log("Valued Entered")
    })
}
</script>

</head>
<body>
    <div class="container mt-3">
<h2 style="text-align: center;">Project bank</h2>
    <table class="table container-wrapper table-hover">
        <thead>
            <th>S.No</th>
            <th>Project Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Pre-requisite</th>
            <th>Faculty</th>
            <th>Department</th>
            <th>Apply</th>
        </thead>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
         var name = data.f_name+' '+data.l_name;
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.title %></td>
            <td><%=data.type %></td>
            <td><%=data.description %></td>
            <td><%=data.pre_requisite %></td>
            <td><%=name %></td>
            <td><%=data.dept %></td>
            <!-- <td><%=data.l_name %></td> -->
            <td><button id="apply_btn" type="button" class="btn btn-danger" value="Apply" onclick="window.myFunction()">Apply</button></td>
            <!-- <td><a href="/users/delete/<%=data.id%>">Delete</a></td> -->
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>

