<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project bank</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body{
        background-image: linear-gradient(to right, #7B1FA2, #E91E63);
      }
  
      h1 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 42px;
        margin: 0px;
        color: #fff;
        text-align: center;
        position: relative;
        margin-bottom: 30px;
      }
    </style>
</head>
<body>
    <div class="container mt-3">
<h2>Projects you are offering</h2>
    <table class="table table-dark table-hover">
        <thead>
            <th>S.No</th>
            <th>Project Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Pre-requisite</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
         var name = data.f_name+' '+data.l_name;
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.title %></td>
            <td><%=data.type %></td>
            <td><%=data.description %></td>
            <td><%=data.pre_requisite %></td>
            <!-- <td><%=data.l_name %></td> -->
            <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>